<app-navbar></app-navbar>
<br>
<h3 style="text-align: center">Prestamo de Aulas</h3>
<br>
<div class="container-fluid">
  <div class="form-group row justify-content-center">
      <label for="example-text-input" class="col-3 col-form-label">Materia</label>
    <div class="col-8">
      <input class="form-control" type="text" id="example-text-input">
    </div>
  </div>
  <div class="form-group row justify-content-center">
    <label for="example-search-input" class="col-3 col-form-label">Aula o Laboratorio</label>
    <div class="col-8">
      <input class="form-control" type="search" id="example-search-input">
    </div>
  </div>
  <div class="form-group row justify-content-center">
    <label for="example-email-input" class="col-3 col-form-label">Fecha</label>
    <div class="col-8">
      <input class="form-control" type="date" id="example-email-input">
    </div>
  </div>
  <div class="form-group row justify-content-center">
    <label for="hora" class="col-3 col-form-label">Hora</label>
    <div class="col-8">
      <input class="form-control" type="time" id="hora">
    </div>
  </div>
  <div class="form-group row">
    <div class="offset-5 col-2">
      <button type="submit" class="btn btn-primary">Solicitar</button>
    </div>
  </div>
</div>
