<h1>Usuario <small>{{usuario.nombre}}</small></h1>

<div class="row">
  <div class="col-sm-6 text-left">
    <button [routerLink]="['/usuarios']" type="button" class="btn btn-info">
      <<
    </button>
  </div>
  <div class="col-sm-6 text-right">
    <button [routerLink]="['/usuario','nuevo']" type="button" class="btn btn-info">
      Limpiar
    </button>
  </div>
</div>
<br>
<div class="row">
  <div class="col-md-12">
    <form (ngSubmit)="guardar()" #forma="ngForm">
      <div class="form-group row">
        <label class="col-2 col-form-label">Nombre:</label>
        <div class="col-10">
          <input class="form-control" type="text"
                 placeholder="name"
                 name="nombre"
                 [(ngModel)]="usuario.nombre">
        </div>
      </div>
      <div class="form-group row">
        <label class="col-2 col-form-label">Usuario:</label>
        <div class="col-10">
          <input class="form-control" type="text"
                 name="usuario"
                 placeholder="usuario"
                 [(ngModel)]="usuario.usuario">
        </div>
      </div>
      <div class="form-group row">
        <label class="col-2 col-form-label">Contraseña:</label>
        <div class="col-10">
          <input class="form-control" type="text"
                 name="contra"
                 placeholder="163"
                 [(ngModel)]="usuario.contra">
        </div>
      </div>
      <div class="form-group row">
        <label class="col-2 col-form-label">Cargo:</label>
        <div class="col-10">
          <input class="form-control" type="text"
                 name="cargo"
                 placeholder="cargo"
                 [(ngModel)]="usuario.cargo">
        </div>
      </div>
      <div class="form-group row">
        <button type="submit" class="btn btn-info ">
          Guardar
        </button>
      </div>

    </form>
  </div>
</div>
